
html {
    font-family: 'Trebuchet Ms';
    background-color: white;
    margin: auto;
    width: 100%;
}

.frontPic img {
    position: absolute;
    top: 8rem;
    right: 0;
    height: auto;
    width: 750px;
    background-position: 30% 50%;
    background-image: url('../images/toronto.jpg');
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
    border: 2px solid lightgray;
    
}

.mainHeader {
    margin: 2.0rem;
    margin-left: -2.5rem;
    padding: 15.0rem;
    font-size: 8.5rem;
    font-family: 'Georgia';
    max-width: 50%;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}


.intro {
    font-family: 'Georgia';
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 26rem;
    max-width: auto;
   
}

.paragraph {
    margin: 4rem;
    padding: 2rem;
    width: 50%;
    text-align: left;
    position: absolute;
    float: center;
    
}

.cards {
    
    padding: 8rem;
    padding-bottom: 25rem;
    max-width: 100%;
    border-bottom: 2px solid lightgray;
    
}


