

html {
    font-family: 'Red Rose', cursive;
    font-weight: 500;
    background-color: white;
    margin: auto;
    width: 100%;
}

p {
    font-family: 'Red Rose', cursive;
    font-weight: 500;
    text-indent: 2px;
    padding: 2px;
    text-justify: auto;

}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-family: 'Georgia';
    position: absolute;
    float: center;
    padding: 1rem;
    top: 20rem;
    left: 44.5%;
    color: lightgrey;
}

.frontPage {
    background: rgb(255, 255, 255);
}

/*
.frontPic img {
    position: absolute;
    top: 0rem;
    right: 0;
    height: auto;
    width: 750px;
    background-position: 30% 50%;
    background-image: url('../images/toronto.jpg');
    /*border-top-left-radius: 120rem;
    border-bottom-left-radius: 120rem;
    border: 2px solid lightgray;
    
} */

.mainHeader {
    margin: 5.0rem;
    margin-left: 25.0rem;
    padding: 5.0rem;
    font-size: 9.5rem;
    font-family: 'Georgia';
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    max-width: 50%;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}


.intro {
   
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
   
}

.paragraph {
    margin: 4rem;
    padding: 2rem;
    width: 50%;
    text-align: left;
    position: absolute;
    float: center;
    
}
/*
* Style for cards with images and description 
*/
div.cards {
    margin-top:-80px;
    margin-left: 10rem;
    border-bottom: 2px solid lightgray;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap');

div.card-title.h5 {
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Red Rose', cursive;
    text-transform: uppercase;
}

img.card-img-top {
    height: auto;
    width: 360px;
    border: 5px solid lightgrey;
    

}

div.card-body {
    margin: auto;
    font-family: 'Cairo', sans-serif;
    
}

div.card-group {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-auto-rows: auto;
    grid-gap: 5rem;
    align-content: center;
    margin: 8rem;
    padding: 3rem;
}


